extends layout

block content
	a.btn.btn-default(href="./programmes") Most popular Programmes
	a.btn.btn-default(href="./channel") Channels json data
	a.btn.btn-default(href="./categories") Categories json data