extends layout

block content
	h1= title
	if data
		each p in data
			prod.productions.col-lg-3.col-md-4.col-sm-6
				p #{p.programmeTitle} - #{p.duration}
				img.prod_images(src='#{p._links.image.href}')